@charset "utf-8";
/*-------------------全局初始化样式--------------------------------*/

body{ padding:0; margin:0 auto; font-size: 14px; line-height: 1.42857143; font-family:arial,Microsoft YaHei,'微软雅黑','宋体'; color: #666460; min-width: 320px; width: 100%; zoom:1;
/*禁用Webkit内核浏览器的文字大小调整功能*/
-webkit-text-size-adjust:none; 
/*取出点击出现半透明的灰色背景*/
-webkit-tap-highlight-color:rgba(0,0,0,0); 
-webkit-tap-highlight:rgba(0,0,0,0);     
/*设置字体的抗锯齿或者说光滑度*/
-webkit-font-smoothing: antialiased;
}
/*默认去除ul、li的默认样式*/
.p,.h1,.h2,.h3,.h4,.h5,.h6{ margin: 0; padding: 0;}
.ul,.dl,.ul li,.dl dd,.dl dt{ list-style:none; margin: 0; padding: 0;} 
/*初始化下拉菜单、单行输入框、多行输入框的样式*/
select,input,textarea{ border-radius:0; -webkit-border-radius:0; color:#666460;} 
/*表单元素获得焦点时不显示虚线框*/
input:focus { outline: none;}
input,button,select,textarea{ outline:none;/*-webkit-appearance:none;*//*强制去除表单自带的样式*/ font-family:arial,Microsoft YaHei,'微软雅黑','宋体'; } 
/*不允许多行输入文本框有滚动条*/
textarea{ resize:none;/*-webkit-appearance:none;*//*强制去除textarea自带的样式*/ } 
/*初始化表单元素样式*/
textarea,input,select { background:none; border:none; margin:0; padding:0;}
/*初始化HTML5标签样式*/
audio,canvas,progress,video { display: inline-block; vertical-align:baseline;}
article,aside,footer,header,hgroup,nav,section,figure,figcaption{ display:block;}
/*去除figure边距*/
figure,figcaption{ margin:0px; padding:0px;}

/*初始化图片样式*/
// img{ border:none; border:0; max-width:100%; vertical-align:top;}

/*初始化a的样式和字体样式*/
a{ color:#666460; text-decoration:none; -webkit-tap-highlight-color:rgba(0,0,0,0);}
a:focus {outline:none; -moz-outline:none;}
a:hover{ color: #0097fb;}

/*清除浮动*/
.clear{ clear:both; height:0px; overflow:hidden;}
.clearfix:after { content: "."; display: block; height: 0; visibility: hidden; clear: both;
 font-size: 0px;}
.clearfix { zoom: 1;}

/* -----------初始化--------------- */

#container{
	width: 100%;	
	overflow: hidden;
 .bg{
 	// position: absolute;
	width: 100%;
	height: 100vh;//窗口高度
	position:fixed; left:0px; top:0px; 
	background: url("../image/bg1-min0.jpg") no-repeat;
	background-size: 100% 100%;

 }		
 .container-fluid {
 	width: 100%;
 	// 顶部top less代码
	.row-top{
	 div{
	 	height: 76px;
		background-color: #5C8FCC;
	 }
	 .top-left-1{
	 	position: relative;
		.row-top-leftLogo{
			display: inline-block;
			width: 78px;
			height: 72px;
			margin: 4px 0 0 88px;
			background-image: url("../image/topLogo.png");
			background-repeat: no-repeat;
			background-size: cover;
		}	
		.row-top-leftTime {
			display: inline-block;
			font-size: 16px;
			position: absolute;
			left:225px;
			top: 45px;
			font-family: arial, Microsoft YaHei, "微软雅黑", "宋体";
			color:rgb(255, 255, 255);
		}
		.row-top-leftWeek {
			font-size: 18px;
			position: absolute;
			left:400px;
			top: 45px;
			font-family: arial, Microsoft YaHei, "微软雅黑", "宋体";
			color:rgb(255, 255, 255);
		}
		// 流媒体查询
		@media screen and (max-width: 990px) {
    	.row-top-leftTime ,.row-top-leftWeek {
        	display: none;
	    	}
	    .row-top-leftLogo{
				margin: 4px 0 0 10px;	
	    	}	
		}		
	 }
	 .top-left-4 {
	 	position: relative; 	
	 	text-align: right;
	 	padding-right: 120px;
	 	.top-left-4-KSDH {
	 		display:inline-block; 
			width:150px; 
			height:100%; 
			margin-left:-30px;
			padding-right: 60px; 
			vertical-align:middle; 
	 		font-size: 18px;
	 		text-decoration: none;
			font-family: arial, Microsoft YaHei, "微软雅黑", "宋体";
			color:rgb(255, 255, 255);
	 	}

	 	@media screen and (max-width: 990px) {
	 		.top-left-4-KSDH{
	 			display: none;
	 		}
	 		.top-left-4{
	 			padding-right:46px;
	 		}
	 	}
	 	a:nth-of-type(2) {
			display: inline-block;
			width: 50px;
			height: 50px;
			// margin: 15px 0 0 108px;
			background-image: url("../image/topWeixin.png");		
			background-repeat: no-repeat;
			background-size: cover;
	 	}
	 	a:nth-of-type(3) {
			display: inline-block;
			width: 50px;
			height: 52px;
			margin: 15px 0 0 30px;
			background-image: url("../image/topZiti.png");		
			background-repeat: no-repeat;
			background-size: cover;
	 	}
	 	a:nth-of-type(4) {
			display: inline-block;
			width: 50px;
			height: 51px;
			margin: 15px 0 0 30px;
			background-image: url("../image/topWeibo.png");		
			background-repeat: no-repeat;
			background-size: cover;
	 	}
	 }
	@media screen and (max-width: 990px) {
	 		.top-left-4{
	 			padding-right:36px;
	 		}
	 	}	
	}


	// 中部
	.row-middle{
		text-align: center;
		div {
			// 中间距离顶部的距离
			
			// background-color: red;
		}
		.row-topImage{
			margin-top: 80px;
			img:nth-of-type(1){
				display: block;
				margin:0 auto;
				// margin-left: 290px;
			}
			// 深汕特别合作区大小调整
			@media screen and (max-width: 1870px) {
				img:nth-of-type(1) {
					width: 342px;
					height: 56px;
				}
			}	
			img:nth-of-type(2) {
				display: block;
				margin:0 auto;
				animation-delay:0.5s;
				// margin-left: 350px;
			}
			// 官网网址大小调整
			@media screen and (max-width: 1870px) {
				img:nth-of-type(2) {
					width: 270px;
					height: 50px;
				}
			}

			//首页搜索框css设计
			.row-middle-serch{
				display:inline-block;
				width: 500px;
				height: 70px;
				// margin-left: 260px;
				animation-delay:0.7s;
				position: relative;
				.serchInput{	
					background-color: #FFFFFF;
					color:#C1C1C1;
					font-size: 24px;
					font-weight: bold;
					width:484px;
					height:61px;
					border-radius: 10px;
					padding-left: 20px;
				}
				@media screen and (max-width: 870px) {
					.serchInput{
					    width: 335px;
    					height: 46px;
					}
				}
				.serch-icon{
				    height: 48px;
				    width: 75px;
				    background: #9ed1ff url(../image/icons_searc.png) no-repeat center;
				    border-radius: 5px;
				    position: absolute;
				    right: 25px;
				    top: 7px;
				    display: block;
				    cursor: pointer;
				    box-shadow: 0 0 5px #9ed1ff;
				}
				@media screen and (max-width: 870px) {
					.serch-icon{
						height: 38px;
    					width: 58px;
    					right: 26px;
    					top: 5px;
					}
				}
				// placeholder样式css设计
				input::-webkit-input-placeholder {
				    /* placeholder颜色  */
				    color: #C1C1C1;
				    /* placeholder字体大小  */
				    font-size: 24px;
   				}	
   				@media screen and (max-width: 870px) {
   					input::-webkit-input-placeholder {
				    /* placeholder字体大小  */
				    font-size: 18px;
   				}	
   				}

			}


			@media screen and (max-width: 870px) {
				.row-middle-serch {
					width: 370px
				}
			}
		}
		// 调整中部的内容和顶部的距离
		@media screen and (max-width: 870px){
			div{
				    margin-top: 5px;
				}	
			}
	}
	.row-middll-Hot {
		margin-top: 20px;
		text-align: center;
		.Hot {
			    // padding-left: 173px;
			    animation-delay:0.9s;
			.Hot-wrap{
				width: 660px;
				margin: 0 auto;
				span{
				color: rgb(255,255,255);
				font-size: 19px;				
				display: inline-block;
				float: left;
				font-weight: bold;
				}
				@media screen and (max-width: 870px) {
					span{
						font-size:16px;
					}
				}

			.Hot-list {
				margin-left: -55px;
				margin-top: -6px;
				float: left;
				li{
					list-style: none;
					float: left;
					margin-left: 25px;	
					display: inline-block;
					width: 90px;
					height: 35px;
					@media screen and (max-width: 870px) {
						width: 75px;
					}
					a{
						display: inline-block;
						width: 100%;
						height: 100%;
						line-height: 35px;
						padding-left: 9px;
						color: #FCFDFD;
						text-decoration:none;
						font-size: 17px;
						font-weight: bold;	
						background-color: rgba(0, 0, 0, 0.2);
						border-radius: 8px;
						&:hover{
							background-color: rgba(0, 0, 0, 0.3);
						}
					}
					// 热词的大小位置调整
					@media screen and (max-width: 870px) {
						a{
							padding-left: 0px;
							font-size: 14px;
						}
					}

				}
			}
			}    
			
		}
	}
	// 调整热词对应上面的margin-top位置
	@media screen and (max-width: 870px) {
		.row-middll-Hot{
			margin-top:0px;
		}
	}
	.row-middle-logo {
		margin:30px 0 0 0;
		text-align: center;
		.logo-box{
			img{
				animation-delay:1.6s;	
			}
			@media screen and (max-width: 870px) {
				img{
					width: 250px;
					height: 45px;
				}
			}
		}
	}
	// 湾区门户logo调整
	@media screen and (max-width: 870px) {
		.row-middle-logo{
			margin:0px 0 0 0;
		}
	}
	.row-footer-tab {
		margin-top: 150px;
		.row-footer-tab-col{
			.tabBox1 {
				display: block;
			}	
			.tabBox2 {
				display: none;
			}
			@media screen and (max-width: 870px) {

			.tabBox1 {
					display: none;
				}
			.tabBox2 {
					display: block;
				}
			}

			.tabBox{
			.tab-list{
				display: table;
    		margin: 0 auto;
			li{
				// list-style: none;
				// float: left;	
				width: 350px;
				height: 168px;
				text-align: center;
				display:table-cell;
    			vertical-align: middle;//对其方式为middle

			}

			@media screen and (max-width: 1870px) {
				li{
					width: 350px;
					height: 138px;
				}
			}
			li:nth-of-type(1) {

				a{	
					display: inline-block;
					width: 150px;
					height: 150px;
					background-image: url("../image/kown.png");
					background-repeat: no-repeat;
					background-size: 150px 150px;
				}
				@media screen and (max-width: 1870px) {
					a{
						width: 130px;
						height: 130px;
						background-size: 120px 120px;
					}
				}

			}
			li:nth-of-type(2) {
				// margin-left: 173px;		
				a{	
					display: inline-block;
					width: 150px;
					height: 150px;
					background-image: url("../image/new.png");
					background-repeat: no-repeat;
					background-size: 150px 150px;
				}
				@media screen and (max-width: 1870px) {
					a{
						width: 130px;
						height: 130px;
						background-size: 120px 120px;
					}
				}
			}
			li:nth-of-type(3) {
				// margin-left: 173px;	
				a{	
					display: inline-block;
					width: 150px;
					height: 150px;
					background-image: url("../image/Dthing.png");
					background-repeat: no-repeat;
					background-size: 150px 150px;
				}
				@media screen and (max-width: 1870px) {
					a{
						width: 130px;
						height: 130px;
						background-size: 120px 120px;
					}
				}
			}

	
			li:nth-of-type(4) {
				// margin-left: 173px;	
				a{	
					display: inline-block;
					width: 150px;
					height: 150px;
					background-image: url("../image/touzi.png");
					background-repeat: no-repeat;
					background-size: 150px 150px;
				}
				@media screen and (max-width: 1870px) {
					a{
						width: 130px;
						height: 130px;
						background-size: 120px 120px;
					}
				}
			}
			li:nth-of-type(5) {
					// margin-left: 173px;	
					a{	
						display: inline-block;
						width: 150px;
						height: 150px;
						background-image: url("../image/yingping.png");
						background-repeat: no-repeat;
						background-size: 150px 150px;
						}
						@media screen and (max-width: 1870px) {
					      a{
					      	width: 130px;
							height: 130px;
							background-size: 120px 120px;
							}
						}
					}
				}
			}
		}
		
	}
	@media screen and (max-width: 870px) {
		.row-footer-tab {
				margin-top: 0px;
		}
	}
}

	//----------------------------------------Investment投资---------------------------------------------------------------
	// 模板的less -> css代码
.investment{
	// 中部内容区
	.row-content-box{
		.content-box-inBox{	
			height: 1450px;		
			width: 67.2%;	
			margin:0 auto;
			background-color: rgba(255, 255, 255, 0.6);
			 .information{
			 	.swiper-container{
			 		width: 100%;
			 		height: 412px;
			 		.swiper-button-prev {
			 			width: 63px;
			 			height: 63px;
			 			background-image: url("../image/left.png") !important;
			 			background-repeat: no-repeat;
			 			background-size: 53px 53px;
			 			left: 35px;
			 		}
			 		.swiper-button-next {
			 			width: 63px;
			 			height: 63px;
			 			background-image: url("../image/right.png") !important;
			 			background-repeat: no-repeat;
			 			background-size: 53px 53px;
			 			right: 35px;
			 		}
			 		.swiper-wrapper{
			 			.swiper-slide {
					      text-align: center;
					      font-size: 18px;
					      // background: rgba(255,255,255,0.4);
					      /* Center slide text vertically */
					      display: -webkit-box;
					      display: -ms-flexbox;
					      display: -webkit-flex;
					      display: flex;
					      -webkit-box-pack: center;
					      -ms-flex-pack: center;
					      -webkit-justify-content: center;
					      justify-content: center;
					      -webkit-box-align: center;
					      -ms-flex-align: center;
					      -webkit-align-items: center;
					      align-items: center;
					      position: relative;
					      	.item{	
					      		width: 490px;
					      		height: 416px;
					      		background: #fff;
					      		 .item-title{
					      		 	color: #0F4695;
					      		 	font-weight: bold;
					      		 	margin-top:13px;
					      		 	font-size: 20px;	
					      		 	padding:0 30px;
					      		 	font-family: arial,Microsoft YaHei,'微软雅黑','宋体';
					      		 	height: 51px;
					      		 }
					      		 .item-brief-introduction{
					      		 	color: rgb(0,0,0);
					      		 	font-weight: bold;
					      		 	font-size: 14px;
    								padding: 0 30px;
    								height: 46px;
    								line-height: 25px;
					      		 	font-family: arial,Microsoft YaHei,'微软雅黑','宋体';
					      		 	display: -webkit-box;
									-webkit-box-orient: vertical;
									-webkit-line-clamp: 2;
									overflow: hidden;
					      		 }
					      	}
					    }
					    .swiper-slide:nth-of-type(odd) {
					    	.item{	
					    		// background: yellow: ;
					    		position: absolute;
					    		right: 0;
					      		// right: 5px;
					      			.item-img{
					      				font-size:0;
					      				line-height:0;
										background: rgba(49, 8, 8, 0.4);
					      				img{
					      					display: block;
					      					width: 100.4%;
					      				}
					      			}
					    	}
					    }
					    .swiper-slide:nth-of-type(even) {
					    	.item{
					    		// background: red;
					    		position: absolute;
					      		left: 0px;
					      		.item-img{
					      			    font-size: 0;
    									line-height: 0;
    									background: rgba(49, 8, 8, 0.4);
					      				img{
					      					width: 100.4%;
					      					display: block;
					      					
					      				}
					      		}
					    	}
					    }
			 		}
			 	}
			 	.information-top{
			 		.information-top-title{
						// title标题
						float: left;
						color: #0F4695;
						display: inline-block;
					    height: 32px;
					    width: 95px;
					    background-color: #A5CFFF;
					    line-height: 32px;
					    text-align: center;
					    font-size: 22px;
					    font-weight: bold;
					    border-radius: 10px;
					    margin-left: 30px;
					    margin-top: 20px;
			 		}
			 		.more{
						// 了解更多
						float: right;	
						text-decoration: none;
						color: #1A5EC0;
						display: inline-block;
    					margin: 26px 25px 0 0;
    					font-weight: bold;
    						a{
    							color: #2A73DC;
    							text-decoration: none;
    							letter-spacing:1px;
    						}
			 		}	
			 	}
			 }
		}
	}
	// 头部导航
	.row-investment-tab{
		margin-top: 20px;
		.tab-box1{
			// background-color: red;
		}
		.tab-box2{
			// background-color: green;
			div{
				height: 62px;
				background-color: #7BABEC;
				border-right: 1px solid #ffff;
				line-height: 62px;
				text-align: center;
				font-family: arial,Microsoft YaHei,'微软雅黑','宋体';
				color:#fff;
				span{
						font-size: 19px;
						padding-left: 15px;
					a{
						color:#fff;
						text-decoration: none;
					}
				}
				@media screen and (max-width: 1570px){
					span{
						padding-left: 0px;
					}
				}	
			}
			@media screen and (max-width: 1203px){
				div{
					border-right:none;
					border-bottom: 1px solid #fff;
				}
			}
			.box2Item0{
				position: relative;
				.item-icon{
					display: inline-block;
					width: 40px;
				    height: 62px;
				    position: absolute;
				    top: 5px;
				    left: 15px;
					background-image: url("../image/new-icon.png");
					background-repeat: no-repeat;
					background-size: 40px 51px
				}
				@media screen and (max-width: 1570px){
					.item-icon{
						display: none;
					}
				}	
			}
			.box2Item1{
				position: relative;
				.item-icon{
					display: inline-block;
					width: 40px;
				    height: 62px;
				    position: absolute;
				    top: 5px;
				    left: 15px;
					background-image: url("../image/YP-icon.png");
					background-repeat: no-repeat;
					background-size: 40px 51px;
				}
				@media screen and (max-width: 1570px){
					.item-icon{
						display: none;
					}
				}	
			}
			.box2Item2{
				position: relative;
				.item-icon{
					display: inline-block;
					width: 40px;
				    height: 62px;
				    position: absolute;
				    top: 5px;
				    left: 15px;
					background-image: url("../image/K-icon.png");
					background-repeat: no-repeat;
					background-size: 40px 51px;
				}
				@media screen and (max-width: 1570px){
					.item-icon{
						display: none;
					}
				}	
			}
			.box2Item3{
				position: relative;
				.item-icon{
					    display: inline-block;
					    width: 55px;
					    height: 42px;
					    position: absolute;
					    top: 7px;
					    left: 9px;
					    background-image: url(../image/TZ-icon.png);
					    background-repeat: no-repeat;
					    background-size: 55px 44px;

				}
				@media screen and (max-width: 1570px){
					.item-icon{
						display: none;
					}
				}	
			}

		}
		.tab-box3 {
			// background-color: yellow;
		}
	}
}

	//----------------------------------------end-----------------------------------------------------------------------
	// --------------------------------------快速导航页面css代码-------------------------------------------------------------
.fastNavigation{ 
		//logo input 部分的css代码
		.row-logo{
			margin-top: 38px;
			.rowBox1{	
				text-align: center;	
					img{
						margin-left: 80px;
					}
			}
			.rowBox2{
				text-align: center;
				position: relative;
				padding-top: 8px;

				//首页搜索框css设计
				//
			.row-middle-serch{
				display:inline-block;
				width: 500px;
				height: 70px;
				// margin-left: 260px;
				margin-right: 118px;
				animation-delay:0.7s;
				position: relative;
				.serchInput{	
					background-color: #FFFFFF;
					color:#C1C1C1;
					font-size: 24px;
					font-weight: bold;
					width: 404px;
    				height: 56px;
					border-radius: 10px;
					padding-left: 20px;
				}
				@media screen and (max-width: 870px) {
					.serchInput{
					    width: 335px;
    					height: 46px;
					}
				}
				.serch-icon{
				        height: 46px;
					    width: 75px;
					    background: #9ed1ff url(../image/icons_searc.png) no-repeat center;
					    border-radius: 5px;
					    position: absolute;
					    right: 53px;
					    top: 5px;
					    display: block;
					    cursor: pointer;
					    box-shadow: 0 0 5px #9ed1ff;
				}
				@media screen and (max-width: 870px) {
					.serch-icon{
						height: 38px;
    					width: 58px;
    					right: 26px;
    					top: 5px;
					}
				}
				// placeholder样式css设计
				input::-webkit-input-placeholder {
				    /* placeholder颜色  */
				    color: #C1C1C1;
				    /* placeholder字体大小  */
				    font-size: 24px;
   					}	
			  }
			
				@media screen and (max-width: 870px) {
					.row-middle-serch{
						width: 374px;
					}
				}

			}
		}
		// 快速导航中间内容区域的css代码	
		.fn-row-middle{
			margin-top: 16px;
			.row-middle-box{
				// height: 621px;
				.box-wrap{	
					padding: 0px 89px;
					height: 100%;
					.box-wrap-wrap {
						height: 100%;
						padding-left: 48px;
						background: rgba(255, 255, 255, 0.4);
						.box-wrap-wrap1{
							height: 100%;
							padding: 10px 0px;
							margin-left: 5px;
							// background-color: red;	
						.wrap1-box{
							height: 100%;

							.boxLeft {
								width: 173px;
								height: 100%;
								.extension{
									height: 100%;
									background-color: #ffff;
									div{
											width: 100%;
											height: 121px;
											padding-top: 30px;
											padding-left: 5px;
									}
									.img1{
											a{
												display: inline-block;
												width: 90%;
												height: 90%;
												background-image: url("../image/leftTG.png");
												background-repeat: no-repeat;
												background-size: 130px 64px;
											}
										}
									.img2{
											a{
												display: inline-block;
												width: 90%;
												height: 90%;
												background-image: url("../image/leftHX.png");
												background-repeat: no-repeat;
												background-size: 127px 60px
											}
										}		
									.img3{
											a{
												display: inline-block;
												width: 90%;
												height: 90%;
												background-image: url("../image/leftTX.png");
												background-repeat: no-repeat;
												background-size: 126px 57px;
											}
										}	
									.img4{
											a{
												display: inline-block;
												width: 90%;
												height: 90%;
												background-image: url("../image/leftRH.png");
												background-repeat: no-repeat;
												background-size: 126px 59px
											}
										}
									.img5{
											a{
												display: inline-block;
												width: 90%;
												height: 90%;
												background-image: url("../image/leftHR.png");
												background-repeat: no-repeat;
												background-size: 152px 57px;
											}
										}					

									}
								}
							
							@media screen and (max-width: 1625px) {
								.boxLeft{
									display: none;
								}
								.boxRight{
									width: 96% !important;
								}
							}

							.boxRight{
								background-color: #ffffff; 
								height: 100%;
								position: relative;
								// 底部友情链接css
								.boxRghtL-footer{
									width: 100%;
									float: left;
									height: 172px;
									padding-top: 90px;
									.footer-title{
										height: 40px;
										text-align: center;
    									line-height: 36px;
    									position: relative;
    										span{
    											display: inline-block;
    											height: 90%;
    											width: 170px;
    											background-color: #0D8EE9;
    											font-size: 20px;
    											color: #fff;
    											position: relative;
    											z-index: 22;			
    										}
    										// 蓝色线条css
    										.line{
    											width: 97%;
    											height: 2px;
    											position: absolute;
    											top: 20px;
    											background-color: #0D8EE9;
    										}
									}	
									.footer-list{
										height: 40px;
										    text-align: center;
    										line-height: 40px;
    											span{
    												font-size: 16px;
    												font-weight: 600;
    												color: #0D8EE9;
    												border-left: 2px solid #0D8EE9;
    												padding: 0 10px;
    												letter-spacing:2px;
    												a{
    													text-decoration: none;
    													color: #0D8EE9;
    												}
    											}
    											span:nth-of-type(3) {
    												border-right: 2px solid #0D8EE9;
    											}
									}
								}	
								.boxRghtL{
									.col-lg{
										float: left;
										margin-left: 15px;
									}	
								}
								.boxRghtL-wrap{
									width: 200px;	
									.title{
											width: 172px;;
										    height: 45px;
										    background: #75A8F3;
										    border-radius: 10px;
										    text-align: center;
										    line-height: 45px;
										    font-size: 23px;
										    color: #ffffff;
										    margin-top: 34px;
										    	margin-left: 16px;
										}
									.tabList{
											padding: 0;
    										margin-top: 39px;
											list-style: none;
											text-align: center;

											li{
												margin-top: 20px;
												a{
													display: inline-block;
												    width: 142px;
												    height: 45px;
												    background: #DDEBFE;
												    text-decoration: none;
												    line-height: 45px;
												    font-size: 19px;
												    color: #000;
												    border-radius: 10px;
												}
											}	
										}
									}
								}	
							}
						}
					}
				}
			}
		}
	//----------------------------------------end----------------------------------------------------------------------- 

 }

 // ------------------------------------footer底部-------------------------------------------------------------------------
	.footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 141px;
		.footer-container {
			position: absolute;
			width: 100%;
			z-index: 999;
			.row-footer {
				color:#FFFFFF;
				font-family: arial,Microsoft YaHei,'微软雅黑','宋体';
				font-size: 16px;
				.row-footer-left {
					padding:55px 0 0 0px;
				}	
				.row-footer-right{
					padding:80px 0 0 0px;
				}
			}
			@media screen and (max-width: 870px) {
				.row-footer{
					font-size: 14px
				}
			}

		}
		.waveWrapper{
			overflow: hidden;
		    position: absolute;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    top: 0;
		    margin: auto;
		    .waveWrapperInner{
		    	position: absolute;
			    width: 100%;
			    overflow: hidden;
			    height: 100%;
			    bottom: -1px;
		    }
		    .bgTop {
		    	z-index: 15;
    			opacity: 1;
    			.waveTop{
    				background-image: url('../image/wave-top.png');
    				background-size: 50% 138px;
    				animation: move-wave 3s;
				   -webkit-animation: move-wave 3s;
				   -webkit-animation-delay: 1s;
				   animation-delay: 1s;
    			}
    			.wave{
    				position: absolute;
				    left: 0;
				    width: 200%;
				    height: 100%;
				    background-repeat: repeat no-repeat;
				    background-position: 0 bottom;
				    transform-origin: center bottom;
    			}
		    }
		    .bgMiddle{
		    	z-index: 10;
    			opacity: 0.85;
    			.wave{
    				position: absolute;
				    left: 0;
				    width: 200%;
				    height: 100%;
				    background-repeat: repeat no-repeat;
				    background-position: 0 bottom;
				    transform-origin: center bottom;
    			}
    			.waveMiddle {
    				background-image: url('../image/wave-mid.png');
    				background-size: 50% 170px;
    				animation: move_wave 7s linear infinite;
    			}
		    }
		    .bgBottom {
		    	z-index: 5;
		    	opacity: 0.5;
		    	.wave{
    				position: absolute;
				    left: 0;
				    width: 200%;
				    height: 100%;
				    background-repeat: repeat no-repeat;
				    background-position: 0 bottom;
				    transform-origin: center bottom;
    			}
    			.waveBottom{
    				background-image: url('../image/wave-bg.png');
    				background-size: 50% 170px;
    				animation: move_wave 10s linear infinite;
    			}
		    }
		}
		//动画
		@keyframes move_wave {
		    0% {
		        transform: translateX(0) translateZ(0) scaleY(1)
		    }
		    50% {
		        transform: translateX(-25%) translateZ(0) scaleY(0.55)
		    }
		    100% {
		        transform: translateX(-50%) translateZ(0) scaleY(1)
		    }
		}

}
@media screen and (max-width: 1022px){
	.footer{
			height: 168px
		}	
	}
	
@media screen and (max-width: 882px){
	.footer{
			height: 194px;
		}	
	}
// ----------------------------------------end-------------------------------------------------------------------------------
}
